@*@model ToDo.Entities.TaskEntity*@

@model ToDo.WebUI.Models.TaskModel

@{
    ViewBag.Title = "Edit";
}

<h2>Task editting .....</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TaskEntity Edit</legend>

        @Html.HiddenFor(model => model.Id) 

        @Html.LabelFor(model => model.Id)
        @Html.DisplayFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        
        @*</div>
        <div class="editor-field">*@

            @* @Html.EditorFor(model => model.Title) *@
            <span class="editor-field">
                @Html.TextBoxFor(model => model.Title)
            </span>

            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsDone)

        @*</div>
        <div class="editor-field">*@

            @* @Html.EditorFor(model => model.IsDone) *@
            @Html.CheckBoxFor(model => model.IsDone)
            @Html.ValidationMessageFor(model => model.IsDone)
        </div>

        <div>
            <form method="post" action="/todo/save"> 
                ... add all fields here!!!!!

                <input type="submit" name="editFinish" value="Save" />
            </form>

            <form method="post" action="/todo/cancel"> 
                <input type="submit" name="Cancel" value="Cancel" />
            </form>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
